name: Tests
on:
  repository_dispatch:
    types: [tests-report]
  push:
  workflow_dispatch:
jobs:
  tests:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
      - name: Install modules
        run: yarn
      - name: Run tests
        env:
          IS_GITHUB_ACTION: true
        run: yarn test:unit && yarn test:sim:sandbox # testnet tests still unreliable see: https://github.com/near/workspaces-js/issues/128
